.container{
  display:grid;
  grid-template-columns:1fr 1fr 2fr;
  grid-template-rows:1fr 1fr;
  height:100vh;
  gap: 20px;
}
.one{
  background-color: aqua;
}
.two{
  background-color: Red;
}
.three{
  background-color: greenyellow;
}
